#sl_PicShow{width:530px; position: relative;}
#sl_ImgBox{width:530px;height:419px;overflow: hidden;border: 1px solid #ccc; background:#fff;}
.sl_SmallImgList{width:100%; margin: 10px auto;}
.sl_wrapper{float: left;display: inline;margin:0px 8px;}
#sl_ImgList div{border: 1px solid #ccc;background-color: white;width:60px;height:60px;overflow: hidden;margin: 0 3px;display: inline;float: left;cursor: pointer;}
#sl_ImgList .active{border: 1px solid #ccc;}
#sl_ImgList img{border: 0;}
#imgList_prev, #imgList_next{width: 10px;height: 45px;display: block;float: left; margin-top:10px; display: inline;cursor: pointer;}
#imgList_prev{background: url(../images/left.gif) no-repeat;}
#imgList_next{background: url(../images/right.gif) no-repeat;}
#imgList_prev span, #imgList_next span{display: none;}
.clearfix{float: none;clear: both;}
.sl_zoom{float: left;position: relative;display:inline;cursor: pointer; width:100%; height:100%}
.sl_zoom img{width:100%; height:100%}
div.zoomdiv{z-index: 100;position: absolute;top: 0px !important;left:531px !important;width: 200px;height: 200px;background: #ffffff;border: 1px solid #CCCCCC;display: none;text-align: center;overflow: hidden;}
div.jqZoomPup{z-index: 10;visibility: hidden;position: absolute;top: 0px;left: 0px;width: 50px;height: 50px;border: 1px solid #aaa;background: #ffffff;opacity: 0.5;-moz-opacity: 0.5;-khtml-opacity: 0.5;filter: alpha(Opacity=50);}
div.jqMagnifier{position: absolute;z-index:9;width: 23px;height: 23px;background: url(images/magnifier.png) no-repeat;top:228px;right:1px;}
#sl_ImgList div img{width:100%; height:100%;}

@media screen and (max-width: 414px){
#proshow{ display:none;}
	
}












